/*File resposible for styling of the main components App.vue, MonthlyAverage.vue and CurrentWeather.vue*/

/*Fonts*/
@font-face{
  font-family: "Ubuntu-Title" ;
  src:url(./fonts/Ubuntu-Title.ttf)
}
@font-face {
  font-family: "Ubuntu";
  src: url(./fonts/Ubuntu-Regular.ttf);
}

/*Application style */
#app {
 width: 100%;
 background-color:white;
 margin: 0 auto;
 padding-left: 2rem;
 padding-right: 2rem;
 padding-bottom: 1rem;
 font-weight: normal;
 min-height: max-content;
 font-family: "Ubuntu";
}
/*Buttons style*/
.btn{
  font-family: "Ubuntu-title";
}
/*Input field with checkboxes and questions */
.input-field{
  background-color: lightgrey;
  margin: 5px;
  border:solid whitesmoke;
  box-shadow: 5px 5px lightgrey;
  height: 100%;
  padding: 10px;
  text-align: center;
}
/*Header style on Sidebar*/
.intro-header{
  font-size:xx-large;
  text-align: left;
  color: white;
  text-shadow: 2px 2px black;
  padding: 5px;
  font-family: "Ubuntu-title";
}
/*Response field */
.response{
  text-align: center;
  padding: 10px;
  background-color: whitesmoke;
  border:  solid whitesmoke;
  box-shadow: 5px 5px lightgrey;
  margin: 10px;
  max-height: 20rem;
  min-height: 20rem;
}
/*Questions style */
.question {
  padding-left: 5px;
  color: black;
  text-align: left;
  background-color: whitesmoke;
  box-shadow: 2px 2px darkgrey;
}  
/*Header style that includes navbar */
header {
  width: 100%;
  border-bottom: solid;
  border-color: grey;
  margin-bottom: 15px;
  margin-top: 0;
  font-family: "Ubuntu-title";
  font-size: large;
}
/*Footer - Only a grey line */
footer {
  border-top: solid;
  border-color: grey;
  padding: 10px;
  margin-top: 15px;
 
}
/*Temperature checkboxes */
.temperatures {
  color: black;
  padding: 10px;
  text-align: center;
}
/*Continent checkboxes */
.continents {
  color: black;
  width: auto;
  padding: 10px;
  text-align: center;
}
/*Main display layout */
.main-display{
  text-align: center;
  height: 100%;
  width: 100%;
}
/*Spinner */
.spinner {
  padding: 5px; 
}
/*Layout for checkboxes */
.col-checkbox{
  text-align: left;
  margin-bottom: 5px;
}

/*Responsive part - larger display */
@media (min-width: 768px) {
 #app{
  font-size: large;
 }
 .response{
    max-height: 33rem;
    min-height: 33rem;
  }
 header{
  font-size: x-large;
 }
}

